@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to Little Helper</h2>
    <p>A MVC 5 Application that uses Entity Framework and SQL to store food, recipes and storage ares.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Add a Recipe</div>
                <div class="card-text">
                    This link will take you to create a new recipe.
                </div>
                @Html.ActionLink("Create Recipe", "Create", "RecipeEntry", null, new { @class = "btn btn-primary text-white" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Add a Storage Area</div>
                <div class="card-text">
                    This link will take you to create a new storage area.
                </div>
                @Html.ActionLink("Create Storage", "Create", "StorageArea", null, new { @class = "btn btn-primary text-white" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Add a Food Item</div>
                <div class="card-text">
                    This link will take you to create a new food.
                </div>
                @Html.ActionLink("Create Food", "Create", "FoodItem", null, new { @class = "btn btn-primary text-white" })
            </div>
        </div>
    </div>
</div>